name: tests

on: [push]

jobs:
  ci:
    runs-on: ubuntu-latest
    environment: Testing

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping -h localhost"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: root
          POSTGRES_PASSWORD: root
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
          tools: composer:v2
          coverage: pcov
          extensions: pdo, pdo_mysql, pdo_pgsql

      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y mysql-client postgresql-client zstd p7zip-full

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install Node Dependencies
        run: npm i

      - name: Build Assets
        run: npm run build

      - name: Install Dependencies
        run: composer install --no-interaction --prefer-dist --optimize-autoloader

      - name: Generate Application Key
        run: php artisan key:generate

      - name: Run Pint
        run: vendor/bin/pint

      - name: Run phpstan
        run: vendor/bin/phpstan analyse

      - name: Run Tests
        env:
          MYSQL_CLI_TYPE: mysql
          DB_HOST: 127.0.0.1
          TEST_MYSQL_HOST: 127.0.0.1
          TEST_POSTGRES_HOST: 127.0.0.1
        run: |
          php artisan migrate --force
          php artisan test --parallel --coverage-clover=coverage.xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage.xml
